<div class="flex justify-center items-center h-full w-full">
  <div class="p-6 my-20 bg-white rounded-lg shadow-md w-full">
    <h1 class="text-lg text-gray-600 text-center font-medium">Sales by location </h1>

    <div class="relative max-w-5xl mx-auto h-96 chart-height">
      <canvas baseChart
              [data]="data$ | async"
              [labels]="labels$ | async"
              [colors]="pieChartColors"
              [options]="pieChartOptions"
              [chartType]="chartType">
      </canvas>
    </div>
    <div class="max-w-xl mx-auto">
      <percentage-rep [propData]="percentProps"></percentage-rep>
    </div>

  </div>
</div>
